[submodule "ESEI/TFG"]
	path = ESEI/TFG
	url = https://github.com/CosasDePuma/Hogwarts
	branch = ESEI/TFG
[submodule "ESEI/TAMI"]
	path = ESEI/TAMI
	url = https://github.com/CosasDePuma/Hogwarts
	branch = ESEI/TAMI
[submodule "ESEI/TSW"]
	path = ESEI/TSW
	url = https://github.com/CosasDePuma/Hogwarts
	branch = ESEI/TSW
[submodule "ESEI/ABP"]
	path = ESEI/ABP
	url = https://github.com/CosasDePuma/Hogwarts
	branch = ESEI/ABP
