/*
 * .-------------------------------------------
 * | GLOBALES
 * ·-------------------------------------------
 */

/* Fuentes: Karla & Oswald */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Oswald&family=Source+Sans+Pro&display=swap');

* {
    /* Evitar tamaños extra predeterminados */
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    /* Tamaños según el borde para los diseños purecss */
    --border-sizing: border-box;
    -webkit-box-sizing: var(--border-sizing); /* Chrome, Safari 3 */
       -moz-box-sizing: var(--border-sizing); /* Firefox 1 */
            box-sizing: var(--border-sizing); /* Estándar */
}

html {
    /* Scroll */
    overflow: hidden;
}

body {
    /* Colores */
    color: #ebeded;
    background-color: #00a19a;
}

/* --- .A --- */

a, .a {
    /* Links sin color, subrayado y ajustado a su contenedor */
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a::after, .a::after {
    /* Links con un subrayado animado oculto */
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #fff;
    /* Animación */
    --transition: width .3s ease-in-out;
    -webkit-transition: var(--transition); /* Chrome, Opera 12, Safari 5 */
       -moz-transition: var(--transition); /* Firefox 4 */
         -o-transition: var(--transition); /* Opera 11 */
            transition: var(--transition); /* Estándar */
}

a:hover::after, .a:hover::after {
    /* Mostramos el subrayado */
    width: 100%;
}

/* --- LI --- */

li {
    /* Listas sin puntitos */
    list-style: none;
}

/*
 * .-------------------------------------------
 * | INDEX
 * ·-------------------------------------------
 */

.welcome .slogan, .modal h1, .modal label {
    font-family: "Source Sans Pro", "Oswald", sans-serif;
}

.welcome {
    /* Elementos centrados en pantalla */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 99px);
}