@media screen and (max-width: 1700px) {
    html { overflow: hidden visible }
    .welcome { flex-direction: column; height: auto; margin-top: 170px }
    .welcome .slogan { font-size: 30px; align-items: center }
    .welcome .tiktak .mobile { --mobilescale: 1.4 }
    .logo img { --size: 60px }
    
}
@media screen and (max-width: 1050px) {
    .welcome .tiktak .mobile { --mobilescale: 1.2 }
    .logo { display: none }
    .menu { display: block }
    header.row { display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0; padding-top: 100px;
        z-index: 1; font-size: 30px; background-color: #00a19a; height: 100vh;
        flex-direction: column; align-items: center; justify-content: center }
    header .account { float: center; margin: 0; } header .link { margin: 0 }
    header .link { margin: 15px 0; padding: 15px 0; } header > a:last-child { margin-top: 100px; }
    header ul:nth-child(2) { display: flex; justify-content: center; align-items: center; flex-direction: column }
    header li { margin: 0 }
    header .account li:first-child::before, header .account li:last-child::after, header li:not(:last-child)::after { content: ""; margin: 0 }
    header ul:not(:nth-child(2)) li:not(:last-child)::after { content: "|"; margin-left: 8px }
    header > a:last-child { display: block; }
    header .link { flex-direction: column; justify-content: center; align-items: center; text-align: center; }
    header li, header > a { font-size: 25px; }
    header ul:nth-child(3) li:not(:last-child)::after { content: ""; margin: 0 }
    header .account { display: flex; flex-direction: column; align-items: center;}
    .welcome .tiktak { margin-top: 10px }
}
@media screen and (max-width: 800px) {
    .slogan { font-size: 25px; }
    .welcome .tiktak .mobile { --mobilescale: 1 }
}
@media screen and (max-width: 600px) {
    .slogan { font-size: 9px; margin: 10px; text-align: center; }
    .welcome .tiktak .mobile { --mobilescale: .8 }
}
@media screen and (max-width: 500px) {
    .welcome .tiktak .mobile { --mobilescale: .75 }
}

@media screen and (max-width: 478px) {
    header li, header > a { font-size: 25px; }
    header ul:nth-child(3) li:not(:last-child)::after { content: ""; margin: 0 }
    header .account { display: flex; flex-direction: column; align-items: center; }
}

@media screen and (max-width: 450px) {
    /* Ponemos el móvil en vertical */
    .mobile {
        border-radius: 10px; --transformacion: scale(var(--mobilescale)) rotateX(0) rotateZ(0);
        -webkit-transform: var(--transformacion) translateY(0) translateZ(0); /* Chrome, Opera 12, Safari 3 */
           -moz-transform: var(--transformacion); /* Firefox 3 */
            -ms-transform: var(--transformacion); /* IE 9 */
             -o-transform: var(--transformacion); /* Opera 10 */
                transform: var(--transformacion); /* Estándar */
    }
    .mobile::before, .mobile::after { background-color: #000 }
    .mobile .glass { background-color: #ffffff00; --sombra: none;
       -webkit-box-shadow: var(--sombra); /* Chrome */
          -moz-box-shadow: var(--sombra); /* Firefox */
               box-shadow: var(--sombra); /* Estándar */
    }
}
